#####################################
# The template config file to GitLab
#####################################
 
external_url "{{ gitlab_protocol_host }}git.{{ gitlab_name_host }}/"
gitlab_rails['time_zone'] = "{{ vst_gitlab_time_zone | default('Asia/Vladivostok') }}"
gitlab_rails['gitlab_default_theme'] = {{ gitlab_default_theme }}
git_data_dirs({"default" => {"path" => "{{ gitlab_git_data_dir }}"} })

###################
# PROJECTS FEATURES
###################
gitlab_rails['gitlab_default_projects_features_issues'] = {{ gitlab_rails_gitlab_default_projects_features_issues | default('true') | lower  }}
gitlab_rails['gitlab_default_projects_features_merge_requests'] = {{ gitlab_rails_gitlab_default_projects_features_merge_requests | default('true') | lower   }}
gitlab_rails['gitlab_default_projects_features_wiki'] = {{ gitlab_rails_gitlab_default_projects_features_wiki | default('true') | lower   }}
gitlab_rails['gitlab_default_projects_features_snippets'] = {{ gitlab_rails_gitlab_default_projects_features_snippets | default('true') | lower   }}
gitlab_rails['gitlab_default_projects_features_builds'] = {{ gitlab_rails_gitlab_default_projects_features_builds | default('true') | lower   }}
gitlab_rails['gitlab_default_projects_features_container_registry'] = {{ gitlab_rails_gitlab_default_projects_features_container_registry | default('true') | lower   }}
gitlab_rails['gitlab_issue_closing_pattern'] = "{{ gitlab_rails_gitlab_issue_closing_pattern | default('((?:[Cc]los(?:e[sd]?|ing)|[Ff]ix(?:e[sd]|ing)?|[Rr]esolv(?:e[sd]?|ing)|[Ii]mplement(?:s|ed|ing)?)(:?) +(?:(?:issues? +)?%{issue_ref}(?:(?:, *| +and +)?)|([A-Z][A-Z0-9_]+-\\d+))+)') }}"

###########
# ARTIFACTS
###########     
gitlab_rails['artifacts_enabled'] = {{ gitlab_rails_artifacts_enabled  | default('true') | lower }}
{% if ( gitlab_rails_artifacts_enabled is not defined or gitlab_rails_artifacts_enabled=='true') %}
gitlab_rails['artifacts_path'] = "{{ gitlab_rails_artifacts_path | default('/var/opt/gitlab/gitlab-rails/shared/artifacts') }}"
{% endif %}

######
# LFS
######
gitlab_rails['lfs_enabled'] = {{ gitlab_rails_lfs_enabled | default('true') | lower }}

#######
# NGINX
####### 
nginx['enable'] = {{ nginx_enable | default('true') | lower }}
{% if ( nginx_enable is not defined or nginx_enable=='true' ) %}
nginx['dir'] = "{{ nginx_dir | default('/var/opt/gitlab/nginx') }}"
nginx['log_directory'] = "{{ nginx_log_directory | default('/var/log/gitlab/nginx') }}" 
nginx['gzip'] = "{{ nginx_gzip | default('on') }}"
nginx['worker_processes'] = {{ nginx_worker_processes | default('4') }}
nginx['cache_max_size'] = "{{ nginx_cache_max_size | default('5000m') }}"
{% if gitlab_nginx_listen_port is defined %}
nginx['listen_port'] = "{{ gitlab_nginx_listen_port }}"
{% endif %}
{% if gitlab_nginx_listen_https is defined %}
nginx['listen_https'] = {{ gitlab_nginx_listen_https }}
{% endif %}
{% endif %}

############
# LETSECRYPT
############
letsencrypt['enable'] = {{ letsencrypt_enable  | default ('true') | lower }}
{% if (letsencrypt_enable is not defined or letsencrypt_enable=='true' or letsencrypt_enable) %}
{% if (letsencrypt_contact_email is defined and letsencrypt_contact_email) %}
letsencrypt['contact_emails'] = ['{{ letsencrypt_contact_email }}'] 
{% endif %}
letsencrypt['auto_renew'] = {{ letsencrypt_auto_renew | default('true') | lower  }}
{% endif %}

################
# Backup upload
################
{% if ( gitlab_rails_backup_upload_connection_provider is defined and gitlab_rails_backup_upload_connection_region is defined and gitlab_rails_backup_upload_connection_aws_access_key_id is defined and gitlab_rails_backup_upload_connection_aws_secret_access_key is defined ) %}
gitlab_rails['backup_upload_connection'] = {
    'provider' =>  '{{ gitlab_rails_backup_upload_connection_provider }}',
    'region' =>  '{{ gitlab_rails_backup_upload_connection_region }}',
    'aws_access_key_id' =>  '{{ gitlab_rails_backup_upload_connection_aws_access_key_id }}',
    'aws_secret_access_key' =>  '{{ gitlab_rails_backup_upload_connection_aws_secret_access_key }}',
    'endpoint' =>  '{{ gitlab_rails_backup_upload_connection_endpoint }}'
    }
{% endif %}
gitlab_rails['backup_archive_permissions'] = {{ gitlab_rails_backup_archive_permissions | default('0644') }}
gitlab_rails['backup_upload_remote_directory'] = '{{ gitlab_rails_backup_upload_remote_directory | default('gitlab-backups') }}'
gitlab_rails['backup_storage_class'] = '{{ gitlab_rails_backup_storage_class | default('STANDARD') }}'
gitlab_rails['backup_keep_time'] = {{ gitlab_backup_keep_time }}

########
# E-mail
########
gitlab_rails['gitlab_email_enabled'] = {{ gitlab_email_enabled }}
{% if ( gitlab_email_enabled is not defined or gitlab_email_enabled=='true') %}
gitlab_rails['gitlab_email_from'] = "{{ gitlab_email_from | default('office@example.com') }}"
gitlab_rails['gitlab_email_display_name'] = "{{ gitlab_email_display_name }}"
gitlab_rails['gitlab_email_reply_to'] = "{{ gitlab_email_reply_to }}"
{% endif %}

#######
# SMTP
#######  
gitlab_rails['smtp_enable'] = {{ gitlab_smtp_enable }}
{% if ( gitlab_smtp_enable is not defined or gitlab_smtp_enable=='true' ) %}
gitlab_rails['smtp_address'] = "{{ gitlab_smtp_address }}"
gitlab_rails['smtp_port'] = {{ gitlab_smtp_port }}
gitlab_rails['smtp_user_name'] = "{{ gitlab_smtp_user_name }}"
gitlab_rails['smtp_password'] = "{{ gitlab_smtp_password  }}"
gitlab_rails['smtp_domain'] = "{{ gitlab_smtp_domain }}"
gitlab_rails['smtp_authentication'] = "{{ gitlab_smtp_authentication  }}"
gitlab_rails['smtp_enable_starttls_auto'] = {{ gitlab_smtp_enable_starttls_auto }}
gitlab_rails['smtp_tls'] = {{ gitlab_smtp_tls }}
gitlab_rails['smtp_openssl_verify_mode'] = '{{ gitlab_smtp_openssl_verify_mode }}'
gitlab_rails['smtp_ca_path'] = '{{ gitlab_smtp_ca_path }}'
gitlab_rails['smtp_ca_file'] = '{{ gitlab_smtp_ca_file }}'
{% endif %}

#########
# Grafana
#########
grafana['enable'] = {{ grafana_enable | default('true') | lower  }}
{% if ( grafana_enable is not defined or grafana_enable=='true' )  %}
grafana['admin_password'] = '{{ grafana_admin_password | default('123456') }}'
{% endif %}

###################
# Mattermost config
###################
mattermost['enable'] = {{ mattermost_enable | default('true') | lower  }}
{% if  mattermost_enable is not defined or mattermost_enable=='true' %}
mattermost_external_url "{{ gitlab_protocol_host }}{{ gitlab_subdomain_chat | default('chat') }}.{{ gitlab_name_host }}"
mattermost['team_site_name'] = "{{ mattermost_team_site_name | default('Chat GitLab') }}"
mattermost['env'] = {
  'MM_SERVICESETTINGS_MAXIMUMLOGINATTEMPTS' => '{{ mattermost_env_MM_SERVICESETTINGS_MAXIMUMLOGINATTEMPTS | default('15') }}',
  'MM_TEAMSETTINGS_TEAMMATENAMEDISPLAY' => '{{ mattermost_env_MM_TEAMSETTINGS_TEAMMATENAMEDISPLAY | default('full_name') }}',
  'MM_SQLSETTINGS_MAXIDLECONNS' => '{{ mattermost_env_MM_SQLSETTINGS_MAXIDLECONNS | default('10') }}',
  'MM_LOGSETTINGS_FILELEVEL' => '{{ mattermost_env_MM_LOGSETTINGS_FILELEVEL | default('DEBUG') }}',
  'MM_EMAILSETTINGS_BATCHINGINTERVAL' => '{{ mattermost_env_MM_EMAILSETTINGS_BATCHINGINTERVAL | default('30') }}',
  'MM_SUPPORTSETTINGS_SUPPORTEMAIL' => '{{ mattermost_env_MM_SUPPORTSETTINGS_SUPPORTEMAIL | default('email@example.com') }}',
  'MM_FILESETTINGS_ENABLEFILEATTACHMENTS' => '{{ mattermost_env_MM_FILESETTINGS_ENABLEFILEATTACHMENTS | default('true') | lower  }}',
  'MM_RATELIMITSETTINGS_MEMORYSTORESIZE' => '{{ mattermost_env_MM_RATELIMITSETTINGS_MEMORYSTORESIZE | default('10000') }}',
  'MM_PRIVACYSETTINGS_SHOWEMAILADDRESS' => '{{ mattermost_env_MM_PRIVACYSETTINGS_SHOWEMAILADDRESS | default('true') | lower  }}',
  'MM_LOCALIZATIONSETTINGS_AVAILABLELOCALES' => '{{ mattermost_env_MM_LOCALIZATIONSETTINGS_AVAILABLELOCALES | default('en,ru') }}',
  'MM_WEBRTCSETTINGS_ENABLE' => '{{ mattermost_env_MM_WEBRTCSETTINGS_ENABLE | default('false') }}',
  'MM_LOCALIZATIONSETTINGS_DEFAULTSERVERLOCALE' => '{{ mattermost_env_MM_LOCALIZATIONSETTINGS_DEFAULTSERVERLOCALE | default('en') }}',
  'MM_EMAILSETTINGS_ENABLESIGNUPWITHEMAIL' => '{{ mattermost_env_MM_EMAILSETTINGS_ENABLESIGNUPWITHEMAIL | default('false') }}',
  'MM_EMAILSETTINGS_ENABLESIGNINWITHEMAIL' => '{{ mattermost_env_MM_EMAILSETTINGS_ENABLESIGNINWITHEMAIL | default('true') | lower  }}',
  'MM_EMAILSETTINGS_ENABLESIGNINWITHUSERNAME' => '{{ mattermost_env_MM_EMAILSETTINGS_ENABLESIGNINWITHUSERNAME | default('true') | lower  }}',
  'MM_EMAILSETTINGS_SENDEMAILNOTIFICATIONS' => '{{ mattermost_env_MM_EMAILSETTINGS_SENDEMAILNOTIFICATIONS | default('true') | lower  }}',
  'MM_EMAILSETTINGS_REQUIREEMAILVERIFICATION' => '{{ mattermost_env_MM_EMAILSETTINGS_REQUIREEMAILVERIFICATION | default('true') | lower  }}',
  'MM_EMAILSETTINGS_SMTPUSERNAME' => '{{ gitlab_smtp_user_name }}',
  'MM_EMAILSETTINGS_SMTPPASSWORD' => '{{ gitlab_smtp_password }}',
  'MM_EMAILSETTINGS_SMTPSERVER' => '{{ gitlab_smtp_address }}',
  'MM_EMAILSETTINGS_SMTPPORT' => '{{ gitlab_smtp_port }}',
  'MM_EMAILSETTINGS_SMTPAUTH' => '{{ gitlab_smtp_authentication }}',
  'MM_EMAILSETTINGS_FEEDBACKNAME' => '{{ mattermost_env_MM_EMAILSETTINGS_FEEDBACKNAME | default('Chat Gitlab') }}',
  'MM_EMAILSETTINGS_FEEDBACKEMAIL' => '{{ gitlab_email_reply_to }}',
  'MM_EMAILSETTINGS_FEEDBACKORGANIZATION' => '{{ gitlab_subdomain_chat | default('chat') }}.{{ gitlab_name_host }}',
  'MM_EMAILSETTINGS_CONNECTIONSECURITY' => '{{ mattermost_env_MM_EMAILSETTINGS_CONNECTIONSECURITY | default('TLS') }}',
  'MM_EMAILSETTINGS_SENDPUSHNOTIFICATIONS' => '{{ mattermost_env_MM_EMAILSETTINGS_SENDPUSHNOTIFICATIONS | default('true') | lower  }}',
  'MM_PLUGINSETTINGS_ENABLEUPLOADS' => '{{ mattermost_env_MM_PLUGINSETTINGS_ENABLEUPLOADS | default('true') | lower  }}',
  'MM_SERVICESETTINGS_ENABLEINCOMINGWEBHOOKS' => '{{ mattermost_env_MM_SERVICESETTINGS_ENABLEINCOMINGWEBHOOKS | default('true') | lower  }}',
  'MM_SERVICESETTINGS_ENABLEPOSTICONOVERRIDE' => '{{ mattermost_env_MM_SERVICESETTINGS_ENABLEPOSTICONOVERRIDE | default('true') | lower  }}',
  'MM_SERVICESETTINGS_ENABLEOUTGOINGWEBHOOKS' => '{{ mattermost_env_MM_SERVICESETTINGS_ENABLEOUTGOINGWEBHOOKS | default('true') | lower  }}',
  'MM_SERVICESETTINGS_ENABLECOMMANDS' => '{{ mattermost_env_MM_SERVICESETTINGS_ENABLECOMMANDS | default('true') | lower  }}',
  'MM_SERVICESETTINGS_ENABLELINKPREVIEWS' => '{{ mattermost_env_MM_SERVICESETTINGS_ENABLELINKPREVIEWS | default('true') | lower  }}',
  'MM_SERVICESETTINGS_ENABLEUSERTYPINGMESSAGES' => '{{ mattermost_env_MM_SERVICESETTINGS_ENABLEUSERTYPINGMESSAGES | default('true') | lower  }}',
  'MM_SERVICESETTINGS_ENABLEPOSTSEARCH' => '{{ mattermost_env_MM_SERVICESETTINGS_ENABLEPOSTSEARCH  | default('true') | lower  }}',
  'MM_SERVICESETTINGS_ENABLEUSERSTATUSES' => '{{ mattermost_env_MM_SERVICESETTINGS_ENABLEUSERSTATUSES | default('true') | lower  }}',
  'MM_TEAMSETTINGS_ENABLETEAMCREATION' => '{{ mattermost_env_MM_TEAMSETTINGS_ENABLETEAMCREATION | default('false') }}',
  'MM_TEAMSETTINGS_ENABLEUSERCREATION' => '{{ mattermost_env_MM_TEAMSETTINGS_ENABLEUSERCREATION | default('true') | lower  }}',
  }
{% endif %}

###########
# Registry 
###########
registry['enable'] = {{ registry_enable | default('true') | lower  }}
{% if ( registry_enable is not defined or registry_enable=='true') %}
registry_external_url "{{ gitlab_protocol_host }}{{ gitlab_subdomain_registry | default('registry') }}.{{ gitlab_name_host }}/"
gitlab_rails['registry_api_url'] = "{{ gitlab_protocol_host }}{{ gitlab_subdomain_registry | default('registry') }}.{{ gitlab_name_host }}/"
{% if ( registry_storage_swift_username is defined and registry_storage_swift_password is defined and registry_storage_swift_authurl is defined ) %}
registry['storagedriver_health_enabled'] = {{ registry_storagedriver_health_enabled | default('true') | lower  }}
registry['storage'] = {
  'swift' => {
    'username' => '{{ registry_storage_swift_username }}',
    'password' => '{{ registry_storage_swift_password }}',
    'authurl' => '{{ registry_storage_swift_authurl }}',
    'domainid' => '{{ registry_storage_swift_domainid }}',
    'container' => '{{ registry_storage_swift_container }}',
  }
}
{% endif %}
{% endif %}

######################
# Omnibus GitLab Logs
#####################
logrotate['enable'] = {{ logrotate_enable | default('true') | lower  }}
{% if ( logrotate_enable is not defined or logrotate_enable =='true') %}
logging['logrotate_frequency'] = "{{ logging_logrotate_frequency | default('daily') }}"
logging['logrotate_rotate'] = {{ logging_logrotate_rotate | default('30') }}
logging['logrotate_compress'] = "{{ logging_logrotate_compress | default('compress') }}"
{% endif %}

########
# Pages
########
gitlab_pages['enable'] = {{ gitlab_pages_enable | default('true') | lower  }}
{% if ( gitlab_pages_enable is not defined or gitlab_pages_enable =='true') %}
pages_external_url "http://{{ gitlab_subdomain_pages | default('pages') }}.{{ gitlab_name_host }}/"
gitlab_pages['access_control'] = {{ gitlab_pages_access_control | default('true') | lower  }}
gitlab_pages['log_verbose'] = {{ gitlab_pages_log_verbose | default('true') | lower  }}
{% endif %}

######
# LDAP
######
gitlab_rails['ldap_enabled'] = {{ gitlab_ldap_enabled }}
{% if ( gitlab_ldap_enabled is not defined or gitlab_ldap_enabled =='true') %}
gitlab_rails['ldap_host'] = '{{ gitlab_ldap_host }}'
gitlab_rails['ldap_port'] = {{ gitlab_ldap_port }}
gitlab_rails['ldap_uid'] = '{{ gitlab_ldap_uid }}'
gitlab_rails['ldap_method'] = '{{ gitlab_ldap_method}}'
gitlab_rails['ldap_bind_dn'] = '{{ gitlab_ldap_bind_dn }}'
gitlab_rails['ldap_password'] = '{{ gitlab_ldap_password }}'
gitlab_rails['ldap_allow_username_or_email_login'] = true
gitlab_rails['ldap_base'] = '{{ gitlab_ldap_base }}'
{% endif %}
